ol li,ul li{
    list-style-position:inside;
}

.branch{
    height: 700px;
}

.introduction{
    padding-top: 100px;
    padding-left: 5%;

    font-size: 18px;

}

.in-part{
    padding-bottom: 50px;

    font-family: STXinwei;
    text-align: center;
}