@font-face {
    font-family:'dsi';
    src: url("../font/Dhanikans-Signature-Italic-dafont-2.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

a{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: gray;
}

#top-all{
    height: 800px;

    background-image: url("../texture/top.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.top{

    height: 500px;

    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    word-spacing: 12px;
    text-transform: capitalize;
    text-align: center;
    line-height: 600px;
}

.top-selection{
    padding-left: 200px;
    padding-right: 200px;

    height: 260px;

    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    display: flex;
}

.top-add{
    padding-right: 10px;

    height: 10px;

    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8px;
    color: white;
    text-align: right;
}

.totop{
    width: 60px;
    height: 40px;
    background-image: url(../texture/arrow.png);
    background-size: cover;
    mix-blend-mode: multiply;
    -ms-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);

    position: fixed;
    right: 10px;
    top: 90%;
}

.branch{
    height: auto;
    width: 100%;
	margin-right: auto;
	margin-left: auto;

    background-image: linear-gradient(to bottom, #8c8b8b, white);
}

.bottom{
    height: 260px;

    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-family: dsi;
    color: black;
    line-height: 64px;
    text-align: center;

    background-image: url("../texture/body.jpg");
    background-position: center;
    background-size: 33%;
    background-repeat: repeat-x;
}

.shadow{
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.frank{
    padding: 20px 0;
}