@font-face {
    font-family: malvie;
    src: url("../font/Malvie-2.otf") format("opentype");
}

@font-face {
    font-family: ksr;
    src: url("../font/KaushanScript-Regular.otf") format("opentype");
}

.branch{
    flex-wrap: wrap;
}

.fav-introduction{
    height: auto;
    width: 100%;
    padding-top: 100px;
    
    color:rgb(21, 111, 248);
    text-align: center;
    font-family: malvie;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
}
.fav-introduction ul{
    margin: 100px 0;
}
.fav-introduction ul li{
    font-family: STKaiti;
    font-size: 20px;
    line-height: 56px;
    color: whitesmoke;
}

.year-box{
    position: relative;
    margin-left: 6%;
    list-style: none;

    font-family: ksr;
    font-size: 32px;
    color:maroon;
}

.item{
    font-family: ksr;
    list-style: none;
    padding-bottom: 50px;
}
.item ul{
    list-style: none;
    text-indent: 2em;
    font-family: STKaiti;
    font-size: 24px;
    color: gray;

    display: none;
}
.item:hover ul{
    display: block;
}

