.branch{
    flex-wrap: wrap;
}

.part{
    padding-top: 50px;
    padding-left: 50px;

    font-size: 24px;
    font-family: STKaiti;

    width: 100%;
}

.part a{
    color: orange;
}

.part a:visited{
    color: orange;
}

.part a:hover{
    color: gray;
}