.branch {
    flex-flow: row wrap;
}


aside {
    overflow-y: auto;
    width: 280px;
    border-right: 1px solid #ddd;
}

aside::-webkit-scrollbar {
    width: 3px;
}

aside::-webkit-scrollbar-thumb {
    background: #ccc;
}

.side-nav {
    border-top: 1px solid #ddd;
    line-height: 2em;
    padding: 10px 0 20px 30px;
}

.side-nav p {
    margin-top: 10px;
    font-weight: 700;
}

.side-nav ul {
    padding: 0;
    margin-left: 30px;
}

.side-nav li{
    color: brown;
}
.side-nav li:hover {
    color: peru;
}

.side-nav li.active {
    color: var(--color-primary);
    border-right: 2px solid var(--color-primary);
}

.side-nav a {
    color: inherit;
}

.logo a {
    color: var(--color-primary);
}

aside .logo {
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}

.nav {
    justify-content: space-between;
}

.nav .item:hover {
    color: #f1f1f1;
}

.main {
    display: block;
    width: 68%;
    align-items: center;
    justify-content: center;
}

.base {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.intro {
    width: 100%;
}
.intro > p {
    text-indent: 2em;
    font-size: 16px;
    line-height: 28px;
}

.title {
    width: 100%;
    height: auto;
    font-size: 28px;
    font-weight: bold;
}

.file {
    width: 100%;
    height: auto;
    border: 1px solid black;
}


.lev-1 {
    grid-area: lev-1;
}
.lev-2 {
    grid-area: lev-2;
}
.lev-3 {
    grid-area: lev-3;
}
.lev-4 {
    grid-area: lev-4;
}
.lev-5 {
    grid-area: lev-5;
}

.lev {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(100px, auto));
    grid-template-areas: "lev-1 lev-2"
                         "lev-3 lev-3"
                         "lev-4 lev-4"
                         "lev-5 lev-5";
    
    gap: 10px;
}

.setting {
    display: block;
    padding: 5px;
}
.setting > * {
    margin: 2px;
}