@font-face {
    font-family: asfj;
    src: url(../../font/a-song-for-jennifer-3.ttf) format("truetype");
}
@font-face {
    font-family: asfj-bold;
    src: url(../../font/a-song-for-jennifer-bold-2.ttf) format("truetype");
}
@font-face {
    font-family: malvie;
    src: url(../../font/Malvie-2.otf) format("opentype");
}

.text p{
    width: 90%;
    word-break: break-all;
    word-wrap: break-word;
    text-indent: 2em;
    font-size: 16px;
    line-height: 28px;
    font-family: STFangsong;
    font-weight: bold;
}

.wrapper{
    width: 15%;
    height: auto;
    text-align: center;
}
.wrapper ul{
    position: sticky; 
    z-index: 100;
    float: left;
    top: 200px;
    left: 28px;
    width: 70%;
    height: 200px;

	background: white;
	background-clip: padding-box;
	border: solid 4px transparent;
	border-radius: 0.8rem;
}
.wrapper ul::after{
    content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -4px;
	border-radius: inherit;
	background-image: url(../../texture/game/left.jpg);
    background-size: cover;
}
.wrapper ul li{
    list-style-type: none;
    width: 100%;
    height: auto;
    line-height: 50px;

}

.main{
    width: 84%;
    height: auto;
    border-left: solid 3px;
    border-image: yellow;
    padding-left: 4%;
}

.item{
    width: 100%;
    margin-top: 300px;
}
.item:nth-child(1){
    margin-top: 20px;
}
.title{
    width: 100%;
    font-family: asfj;
    font-size: 32px;
    line-height: 64px;
}

.top-selector{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    font-family: STXinwei;
}
.top-selector > ul{
    width: auto;
    list-style-type: none;
    display: flex;
    
    height: 50px;
}
.top-selector > ul > li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewX(25deg);
    border: 1px solid black;
    background-color: black;
}
.top-selector > ul > li:nth-child(-n+4){
    background-color: white;
}
.top-selector > ul > li > a{
    transform: skewX(-25deg);
    color: white;
    font-size: 18px;
}
.top-selector > ul > li:nth-child(-n+4) > a{
    color: black;
}

.command{
    position: relative;
    width: 60%;
    margin: auto;
}
.cover{
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    display: block;
    background-size: cover;
}
.text{
    width: 100%;
    margin: auto;
}
.text > div{
    margin: 0;
    display: none;
    width: 100%;
    height: auto;
    opacity: 0;
}
.text > .active{
    display: block;
    width: 100%;
    transform: translateY(-320px) translateX(60px);
}
.text .p{
    margin-bottom: 4%;
    margin-right: 6%;
    font-family: malvie;
    font-size: 24px;
}



